
#btn {

    background-color: #a818ad;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btn:hover {
    background-color: #d8bad5;
}