

  table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 60%;
    border: 3px solid ;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  tr{background-color: #ddbf37}
  
  th {
    background-color: #4654d8;
    color: white;
  }

  #first {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: table;
    /* shrinks to fit content */
    margin: auto;

}

#sec {
    border-radius: 5px;
    background-color: #ebd7d7;
    padding: 20px;
    display: table;
    /* shrinks to fit content */
    margin: auto;

}

#btn1 {

    background-color: #2418cf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btn1:hover {
    background-color: #6399d6;
}